<div class="drawer-backdrop" (click)="close()"></div>
<div class="drawer">
  <div class="dropdown-menu">
    <button class="dropdown-item" type="button" matRipple (click)="new()">
      New
    </button>
    <button class="dropdown-item" type="button" matRipple (click)="goToLoad()">
      Load
    </button>
    <a class="dropdown-item" [routerLink]="['/p2p']">P2P</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [ngClass]="{ 'active': conditionsActive$ | async }" [routerLink]="['/conditions']">Conditions</a>
    <a class="dropdown-item" [ngClass]="{ 'active': hauntsActive$ | async }" [routerLink]="['/haunts']">Haunts</a>
    <a class="dropdown-item" [ngClass]="{ 'active': keysActive$ | async }" [routerLink]="['/keys']">Keys</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/about']">About</a>
  </div>  
</div>
