body {
  background-image: url("../assets/images/Geist_Left_Border_Inverse.png"), url("../assets/images/Geist_Right_Border_Inverse.png");
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}