@font-face {
  font-family: trinigan;
  src: url(../assets/fonts/trinigan.ttf) format("truetype");
}

@font-face {
  font-family: goudy-old-style-bt;
  src: url(../assets/fonts/goudy-old-style-bt.ttf) format("truetype");
}

@font-face {
  font-family: goudy-old-style-bt;
  src: url(../assets/fonts/goudy-old-style-bold-bt.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: futura;
  src: url(../assets/fonts/futura-book.ttf) format("truetype");
}

@font-face {
  font-family: futura;
  src: url(../assets/fonts/futura-bold.ttf) format("truetype");
  font-weight: bold;
}
