<h1>1 Offer Call</h1>
<div>
  <button (click)="createOffer()">Create Offer</button>
</div>

<div style="display: flex; width: 100%">
  <div>
    <textarea #offerTextarea [ngModel]="outOffer$ | async" readonly></textarea>
  </div>
  <pre>{{ outOfferDisplay$ | async }}</pre>
</div>
<div>
  <button (click)="copyTextarea(offerTextarea)">Copy Offer</button>
</div>

<h1>2 Answer Call</h1>
<div style="display: flex; width: 100%">
  <div>
    <textarea [(ngModel)]="inOfferUrl" (ngModelChange)="showInOffer($event)"></textarea>
  </div>
  <pre>{{ inOfferDisplay$ | async }}</pre>
</div>

<div>
  <button (click)="answer(inOfferUrl)">Answer Offer</button>
</div>

<div style="display: flex; width: 100%">
  <div>
    <textarea #answerTextarea [ngModel]="outAnswer$ | async" readonly></textarea>
  </div>
  <pre>{{ outAnswerDisplay$ | async }}</pre>
</div>
<div>
  <button (click)="copyTextarea(answerTextarea)">Copy Answer</button>
</div>

<h1>3 Confirm Answer</h1>
<div style="display: flex; width: 100%">
  <div>
    <textarea [(ngModel)]="inAnswerB64" (ngModelChange)="showInAnswer($event)"></textarea>
  </div>
  <pre>{{ inAnswerDisplay$ | async }}</pre>
</div>

<div>
  <button (click)="confirm(inAnswerB64)">Confirm Answer</button>
</div>

<h1>Send Message</h1>
<div>
  <textarea [(ngModel)]="outMessage"></textarea>
</div>

<div>
  <button (click)="send(outMessage)">Send</button>
</div>

<h1>Receive Message</h1>
<div>
  <textarea [ngModel]="inMessage$ | async | json"></textarea>
</div>
