<h1>Participant</h1>

<div>
  <h2>Rooms</h2>
  <div *ngFor="let room of rtc.rooms$ | async">{{ room | json }}</div>
</div>

<div>
  <div>
    <label>Room Name</label>
    <input type="text" [(ngModel)]="roomName" />
  </div>
  <div>
    <label>Password</label>
    <input type="text" [(ngModel)]="password" />
  </div>
  <button (click)="rtc.create(roomName, password)">Join</button>
</div>

<div>
  <div>
    <label>Room Id</label>
    <input type="text" [(ngModel)]="roomId" />
  </div>
  <div>
    <label>Password</label>
    <input type="text" [(ngModel)]="password" />
  </div>
  <button (click)="rtc.join(roomId, password)">Join</button>
</div>

<div>
  <textarea [(ngModel)]="outMessage"></textarea>
</div>

<div>
  <button (click)="rtc.send(outMessage)">Send</button>
</div>

<div>
  <textarea [ngModel]="rtc.message$ | async | json" readonly></textarea>
</div>