<nav class="navbar navbar-dark bg-keys fixed-top">
  <button class="btn btn-secondary rounded-pill mr-3" type="button" matRipple (click)="showDrawer = !showDrawer">
    <fa-icon [icon]="['fas', 'bars']" size="lg"></fa-icon>
  </button>
  <div class="navbar-brand mr-auto">{{ (headerName$ | async) || "Epitaph" | titlecase }}</div>
  <button *ngIf="dirty$ | async" class="btn btn-secondary rounded-pill" matRipple (click)="save()">
    <fa-icon [icon]="['fas', 'save']" size="lg"></fa-icon>
  </button>
</nav>
<drawer *ngIf="showDrawer" (close)="showDrawer = false"></drawer>
<div class="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
