<ng-container *ngIf="!(connected$ | async)">
  <div class="card">
    <div class="card-body">
      <p>P2P brings the utility of Epitaph to everyone at your table by sharing your game state across devices in real time.</p>
      <p>Only people with your password can join your room.</p>
      <p>To host, enter a room name and password under <b>Create Room</b>, then click <b>Create</b>.</p>
      <p>To join, find the room created by your host under <b>Join Room</b> and enter the password, then click <b>Join</b>.</p>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row">
    <form #createForm="ngForm" class="flex-fill" (ngSubmit)="create(createForm.value.name, createForm.value.password)">
      <fieldset  [disabled]="submitting">
        <div class="card">
          <div class="card-header">
            <h3>Create Room</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Room Name</label>
              <input class="form-control" type="text" name="name" ngModel required />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" type="password" name="password" ngModel required />
            </div>
          </div>
          <div class="card-footer">
            <button class="mat-ripple btn text-primary" [disabled]="!createForm.valid">Create</button>
          </div>
        </div>
      </fieldset>
    </form>
    <form #joinForm="ngForm" class="flex-fill" (ngSubmit)="join(joinForm.value.room.key, joinForm.value.password)">
      <fieldset [disabled]="submitting">
        <div class="card">
          <div class="card-header">
            <h3>Join Room</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Room</label>
              <room-picker name="room" [(ngModel)]="room" required></room-picker>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" type="password" name="password" ngModel required />
            </div>
          </div>
          <div class="card-footer">
            <button class="mat-ripple btn text-primary" [disabled]="!joinForm.valid">Join</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</ng-container>

<div *ngIf="connected$ | async" class="card">
  <div class="card-header">
    <h1>Connected</h1>
  </div>
  <div class="card-footer">
    <button class="mat-ripple btn text-primary" (click)="disconnect()">Disconnect</button>
  </div>
</div>